# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
streamlit_env/

# -----------------------------
# Environment files
# -----------------------------
.env
.streamlit/secrets.toml

# -----------------------------
# Dataset & training artifacts
# -----------------------------
New Plant Diseases Dataset(Augmented)/
training/

# -----------------------------
# Jupyter
# -----------------------------
code.ipynb
.ipynb_checkpoints/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log



# -----------------------------
# Database
# -----------------------------
*.db

# -----------------------------
# Tests & documentation
# -----------------------------
tests/
docs/



# -----------------------------
# Model
# -----------------------------
models/